{% extends "base.html" %}
{% block head %}
<style>
  #content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }

  h1#title {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 240px;
  }

  #password {
    padding: 8px;
    display: block;
  }

  button[type='submit'] {
    padding: 8px;
  }
</style>
{% endblock %}

{% block body %}
<div id="content">
  <h1 id="title">Enter password</h1>
  <form action="/check_pw?next={{next}}" method="POST">
    <input
      type="password"
      id="password"
      name="password"
      placeholder="PW"
      value=""
      required
      autofocus
    />
    <button type="submit">Confirm</button>
  </form>
  <a href="javascript:history.back()">Go back</a>
</div>
{% endblock %}
